body {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
    height: 100vh;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

 #msg2 {
    background: white;
    border: 1px solid black; 
}

button {
    border: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn {
    background: darkred;
}

#save-btn {
    background: darkgreen;
}

#increment5-btn {
    background: darkorchid
}
#error-btn {
    background: orange
}
#error {
    color: red;
    font-weight: 200;
}

#save-el {
    color: white;
    background: black;
    border: 1px solid white;
    font-weight: bold; 
}
